body {
	background-color: #4F6272;
	color: #FFFFFF;
	font-family: Georgia, serif;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	font-size: 75px;
	text-align: center;
	margin: 20px 0;
	font-family: 'Martian Mono', monospace;
}

h3 {
	font-size: 35px;
	text-align: center;
	margin: 20px 0;
	font-family: 'Martian Mono', monospace;
}

h2 {
	font-size: 20px;
	text-align: center;
	margin: 20px 0;
	font-family: 'Martian Mono', monospace;
}

p {
	font-size: 30px;
	line-height: 1.5;
	margin: 20px 0;
	font-family: 'Martian Mono', monospace;
}

a {
	color: #FFFFFC;
	text-decoration: none;
	transition: border-color 0.3s ease-in-out;
	padding: 14px 25px;
	background-color: #757780;
	border-radius: 10px;
}

a:hover {
	color: #001011;
}
